* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
.InformationBackgroundContainer {
  width: 1920px;
  height: 506px;
  margin-bottom: 0.625rem;
  padding-top: 1.25rem;
  padding-bottom: 1.563rem;
  padding-left: 23.313rem;
}
.IconsContainer {
  width: 1920px;
  height: 239px;
  background-color: #b45252;
  margin-bottom: 0.625rem;
}
.WhySnubesContainer {
  width: 1920px;
  height: 600px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .WhySnubesContainer {
    width: 768px;
    height: 616px;
    object-fit: contain;
  }
}
@media screen and (max-width: 320px) {
  .WhySnubesContainer {
    width: 320px;
    height: 622px;
    object-fit: contain;
  }
}